beautifulsoup4==4.13.4
Flask==3.1.1
nlpaug==1.1.11
numpy==1.25.1
pandas==2.2.3
plotly==5.18.0
Requests==2.32.3
scikit_learn==1.6.1
torch==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
tqdm==4.67.1
transformers==4.50.3
Werkzeug==3.1.3
gunicorn==20.1.0
